 <div class="col-md-5 order-md-1">
      <h4 class="mb-3"><i class="fas fa-sign-in-alt"> ログイン</i></h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),  class: "needs-validation") do |f| %>

        <div class="mb-3">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :"パスワード（6文字以上）" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="custom-control custom-checkbox">
            <%= f.check_box :remember_me, class: "custom-checkbox" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="mb-4">
          <%= f.submit "ログイン", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    <h4><i class="fas fa-user-cog"> 会員登録がお済みでない方</i></h4>
    <%= link_to "こちら",  new_user_registration_path %>から新規登録を行ってください。
  </div>