<div class="container">
  <div class="col-md-15 order-md-1">
    <h3 class="jumbotron-heading"><i class="fas fa-video"></i> 登録作品一覧(全<%= @count %>件）</h3>
        <div class="container">
          <div class="row">

           <table class="table">
            <thead>
             <tr>
              <th>作品ID</th>
              <th>作品名</th>
              <th>公開日</th>
              <th>ジャンル</th>
              <th>使用許諾情報</th>
             </tr>
            </thead>

            <tbody>
             <% @movies.each do |movie| %>
             <tr>
              <td><%= movie.id %></td>
              <td><%= link_to movie_path(movie) do%><%= movie.name %><% end %></td>
              <td><%= movie.releasedate %></td>
              <td><%= movie.genre.name %></td>
           <td>
             <% if movie.is_active == true %>
              <p class="text-success">使用可能</p>
             <% else %>
              <p class="text-black-50">使用禁止</p>
             <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
   <%= paginate @movies %>
  </div>
</div>