<div class="container">
  <div class="col-md-12 order_show">
    <h2><i class="far fa-sticky-note"></i> 利用申請履歴詳細</h2>
    <div class="row order_info_box">
      <div class="col-md-7">
        <h3>利用申請情報</h3>
        <table class="table">
          <tr>
            <th>申請日</th>
            <td><%= @application.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th>使用媒体</th>
            <td><%= @application.media %></td>
          </tr>
          <tr>
            <th>使用目的</th>
            <td><%= @application.purpose %></td>
          </tr>
          <tr>
            <th>掲載時期</th>
            <td><%= @application.date %></td>
          </tr>
        </table>
      </div>
        <tbody>
          <% @application_details.each do |application_detail| %>
          <tr>
            <td><%= application_detail.movie.name %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>